<article class="blog">
	<div class="section-wrapper">
		<div class="d-flex justify-content-center mt-3">
			<img src="{{ 'assets/images/banner-get.jpg' | relative_url }}">
		</div>
		<div class="container-fluid px-md-0">
			<h3 class="text-left pt-4 pb-3">
				Ultimas enviadas
			</h3>
			<div class="row px-3">
				<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
					<a href="{{ '/receita' | relative_url }}" class="d-flex px-2">
						<div class="w-25 py-3">
							<img src="{{ 'assets/images/banner-index3.jpg' | relative_url }}" class="w-100 h-100" alt="">
						</div>
						<div class="d-flex flex-column pl-3 py-1">
							<span>
								24/03/2022
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
					<a href="{{ '/receita' | relative_url }}" class="d-flex px-2">
						<div class="w-25 py-3">
							<img src="{{ 'assets/images/banner-index3.jpg' | relative_url }}" class="w-100 h-100" alt="">
						</div>
						<div class="d-flex flex-column pl-3 py-1">
							<span>
								24/03/2022
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
					<a href="{{ '/receita' | relative_url }}" class="d-flex px-2">
						<div class="w-25 py-3">
							<img src="{{ 'assets/images/banner-index3.jpg' | relative_url }}" class="w-100 h-100" alt="">
						</div>
						<div class="d-flex flex-column pl-3 py-1">
							<span>
								24/03/2022
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
					<a href="{{ '/receita' | relative_url }}" class="d-flex px-2">
						<div class="w-25 py-3">
							<img src="{{ 'assets/images/banner-index3.jpg' | relative_url }}" class="w-100 h-100" alt="">
						</div>
						<div class="d-flex flex-column pl-3 py-1">
							<span>
								24/03/2022
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
					<a href="{{ '/receita' | relative_url }}" class="d-flex px-2">
						<div class="w-25 py-3">
							<img src="{{ 'assets/images/banner-index3.jpg' | relative_url }}" class="w-100 h-100" alt="">
						</div>
						<div class="d-flex flex-column pl-3 py-1">
							<span>
								24/03/2022
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
					<a href="{{ '/receita' | relative_url }}" class="d-flex px-2">
						<div class="w-25 py-3">
							<img src="{{ 'assets/images/banner-index3.jpg' | relative_url }}" class="w-100 h-100" alt="">
						</div>
						<div class="d-flex flex-column pl-3 py-1">
							<span>
								24/03/2022
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
					<a href="{{ '/receita' | relative_url }}" class="d-flex px-2">
						<div class="w-25 py-3">
							<img src="{{ 'assets/images/banner-index3.jpg' | relative_url }}" class="w-100 h-100" alt="">
						</div>
						<div class="d-flex flex-column pl-3 py-1">
							<span>
								24/03/2022
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
					<a href="{{ '/receita' | relative_url }}" class="d-flex px-2">
						<div class="w-25 py-3">
							<img src="{{ 'assets/images/banner-index3.jpg' | relative_url }}" class="w-100 h-100" alt="">
						</div>
						<div class="d-flex flex-column pl-3 py-1">
							<span>
								24/03/2022
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
					<a href="{{ '/receita' | relative_url }}" class="d-flex px-2">
						<div class="w-25 py-3">
							<img src="{{ 'assets/images/banner-index3.jpg' | relative_url }}" class="w-100 h-100" alt="">
						</div>
						<div class="d-flex flex-column pl-3 py-1">
							<span>
								24/03/2022
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
					<a href="{{ '/receita' | relative_url }}" class="d-flex px-2">
						<div class="w-25 py-3">
							<img src="{{ 'assets/images/banner-index3.jpg' | relative_url }}" class="w-100 h-100" alt="">
						</div>
						<div class="d-flex flex-column pl-3 py-1">
							<span>
								24/03/2022
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
					<a href="{{ '/receita' | relative_url }}" class="d-flex px-2">
						<div class="w-25 py-3">
							<img src="{{ 'assets/images/banner-index3.jpg' | relative_url }}" class="w-100 h-100" alt="">
						</div>
						<div class="d-flex flex-column pl-3 py-1">
							<span>
								24/03/2022
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
					<a href="{{ '/receita' | relative_url }}" class="d-flex px-2">
						<div class="w-25 py-3">
							<img src="{{ 'assets/images/banner-index3.jpg' | relative_url }}" class="w-100 h-100" alt="">
						</div>
						<div class="d-flex flex-column pl-3 py-1">
							<span>
								24/03/2022
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
					<a href="{{ '/receita' | relative_url }}" class="d-flex px-2">
						<div class="w-25 py-3">
							<img src="{{ 'assets/images/banner-index3.jpg' | relative_url }}" class="w-100 h-100" alt="">
						</div>
						<div class="d-flex flex-column pl-3 py-1">
							<span>
								24/03/2022
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
					<a href="{{ '/receita' | relative_url }}" class="d-flex px-2">
						<div class="w-25 py-3">
							<img src="{{ 'assets/images/banner-index3.jpg' | relative_url }}" class="w-100 h-100" alt="">
						</div>
						<div class="d-flex flex-column pl-3 py-1">
							<span>
								24/03/2022
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
					<a href="{{ '/receita' | relative_url }}" class="d-flex px-2">
						<div class="w-25 py-3">
							<img src="{{ 'assets/images/banner-index3.jpg' | relative_url }}" class="w-100 h-100" alt="">
						</div>
						<div class="d-flex flex-column pl-3 py-1">
							<span>
								24/03/2022
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
					<a href="{{ '/receita' | relative_url }}" class="d-flex px-2">
						<div class="w-25 py-3">
							<img src="{{ 'assets/images/banner-index3.jpg' | relative_url }}" class="w-100 h-100" alt="">
						</div>
						<div class="d-flex flex-column pl-3 py-1">
							<span>
								24/03/2022
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
					<a href="{{ '/receita' | relative_url }}" class="d-flex px-2">
						<div class="w-25 py-3">
							<img src="{{ 'assets/images/banner-index3.jpg' | relative_url }}" class="w-100 h-100" alt="">
						</div>
						<div class="d-flex flex-column pl-3 py-1">
							<span>
								24/03/2022
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
					<a href="{{ '/receita' | relative_url }}" class="d-flex px-2">
						<div class="w-25 py-3">
							<img src="{{ 'assets/images/banner-index3.jpg' | relative_url }}" class="w-100 h-100" alt="">
						</div>
						<div class="d-flex flex-column pl-3 py-1">
							<span>
								24/03/2022
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
					<a href="{{ '/receita' | relative_url }}" class="d-flex px-2">
						<div class="w-25 py-3">
							<img src="{{ 'assets/images/banner-index3.jpg' | relative_url }}" class="w-100 h-100" alt="">
						</div>
						<div class="d-flex flex-column pl-3 py-1">
							<span>
								24/03/2022
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
					<a href="{{ '/receita' | relative_url }}" class="d-flex px-2">
						<div class="w-25 py-3">
							<img src="{{ 'assets/images/banner-index3.jpg' | relative_url }}" class="w-100 h-100" alt="">
						</div>
						<div class="d-flex flex-column pl-3 py-1">
							<span>
								24/03/2022
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-4 pb-3 px-md-0 line-blog">
					<a href="{{ '/receita' | relative_url }}" class="d-flex px-2">
						<div class="w-25 py-3">
							<img src="{{ 'assets/images/banner-index3.jpg' | relative_url }}" class="w-100 h-100" alt="">
						</div>
						<div class="d-flex flex-column pl-3 py-1">
							<span>
								24/03/2022
							</span>
							<h4>
								Escondidinho de carne seca
							</h4>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-center mt-3">
			<img src="{{ 'assets/images/banner-get.jpg' | relative_url }}">
		</div>
		<div class="d-flex justify-content-center mt-4">
			<div class="input-group mb-3 px-0 btn-more">
				<input type="Submit" class="col form-control btn mx-4 font-weight-bold" value=">> Ver Mais <<"/>
			</div>
		</div>
	</div>
</article>