<footer class="footer-1">
	<div class="section-wrapper py-3">
		<div class="container-fluid px-0">
			<div class="row">
				<div class="col-6 col-sm-12 footer-1-menu">
					<h6 class="font-weight-bold d-sm-none">Menu</h6>
					<ul class="pdl">
						<li><a href="/quem-somos">Quem Somos</a></li>
						<li><a href="/termos-de-uso">Termos de Uso</a></li>
						<li><a href="/fale-conosco">Fale Conosco</a></li>
						<li><a href="/politica-de-privacidade">Política de Privacidade</a></li>
					</ul>
				</div>
				<div class="d-div col-6 col-sm-12 footer-1-apoio">
					<h6 class="font-weight-bold
					">Apoio:  </h6>
					<ul>
						<li class="p-img"><img src="assets/images/apoio-submarino.png" alt="submarino"></li>
						<li class="p-img"><img src="assets/images/apoio-americanas.png" alt="americanas.com"></li>
						<li class="p-img"><img src="assets/images/apoio-genera.png" alt="genera"></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-12"> 
					<hr class="line">
				</div>
				<div class="col-6 unregister">
					<a class="footer-icon" href="unsubscribe.php">
						<img src="assets/images/icone-footer-1.png" alt="">Descadastrar
					</a>
				</div>
				<div class="col-6">
					<a class="footer-icon" href="#" onclick="$('#modalerror').modal('show');">
						<img src="assets/images/icone-footer-2.png" alt="">
						Reportar Erro
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="footer-2 text-center py-xl-2">
	<p class="px-4 ml-1">receitasdodia.org 2021 &copy; Todos os direitos reservados</p>
</div>