<section class="fourth">
  <div class="section-wrapper">  
    <div class="pt-5 pb-3 fourth-section">
      <p class="text-black font-weight-bold mb-0">
        Quer fazer uma pessoa que gosta de cozinhar feliz?
        <br>
        Indique o receitas do dia pra ela!
      </p>
      <div class="d-flex justify-content-center ml-5">
        <form class="input-group row gx-2 d-flex justify-content-between px-4 py-2" action="{{ '/indique' | relative_url }}">
          <input class="col indicate-form shadow-none mr-2" required placeholder="Nome">
          <input class="col indicate-form shadow-none mr-2" required placeholder="E-mail">
          <h3 class="px-2">
            e ou
          </h3>
          <input class="col indicate-form shadow-none mr-2" required placeholder="Whatsapp">
          <input type="submit" class="form-control col-3 btn indicate-btn" value="Indicar"/>
        </form>
      </div>
    </div>
  </div>
</section>