<section class="fourth">
  <div class="section-wrapper">  
    <div class="pt-3 pb-3 fourth-section">
      <p class="text-black font-weight-bold mb-0">
        Quer fazer uma pessoa que gosta de cozinhar feliz?
        <br>
        Convide ela para o Receitas do Dia!
      </p>
      <div class="d-flex justify-content-center p-form-indicate">
        <form class="input-group row no-gutters gx-1 d-flex justify-content-between" action="{{ '/indique.html' | relative_url }}">
          <div class="form-group col-6 col-lg-3 pr-2">
            <input class="form-control indicate-form shadow-none" required placeholder="Nome">
          </div>
          <div class="form-group col-6 col-lg-3 pr-2">
            <input class="form-control indicate-form shadow-none" required placeholder="E-mail">
          </div>
          <h3 class="col-1">
            e ou
          </h3>
          <div class="form-group col-6 col-lg-3 pr-2">
            <input class="form-control indicate-form shadow-none" required placeholder="Whatsapp">
          </div>
          <div class="form-group col-6 col-lg-2 pr-2 pr-lg-0">
            <input type="submit" class="form-control btn indicate-btn" value="Indicar"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>