.html<header class="navbar sticky-top header">
	<div class="header-line">
		<div class="header-wrapper">
			<div class="icons position-absolute px-2">
				<div class="d-flex">
					<label class="mr-1">
						Receber Por:
					</label>
					<div class="icons-position">
						<a href="{{ '/whatsapp.html' | relative_url }}">
							<img src="{{ 'assets/images/whats.png'  | relative_url }}">
						</a>
						<a href="{{ '/telegram.html' | relative_url }}">
							<img src="{{ 'assets/images/telegram.png'  | relative_url }}">
						</a>
						<a href="{{ '/e-mail.html' | relative_url }}">
							<img src="{{ 'assets/images/mail.png'  | relative_url }}">
						</a>
						<a href="{{ '/notification.html' | relative_url }}">
							<img src="{{ 'assets/images/notification.png'  | relative_url }}">
						</a>
					</div>
				</div>
			</div>
			<div class="d-flex align-items-center justify-content-center header-margin">
				<a href="/">
					<img src="{{ 'assets/images/logo.png'  | relative_url }}" class="size-logo">
				</a>
			</div>
		</div>
	</div>
</header>