<!-- second (animação de uma pessoa tomando água) -->
<section class="second">
  <div class="section-wrapper mx-auto row no-gutters">
    <img src="{{ 'assets/images/banner-index2.jpg'  | relative_url }}" class="drinking col-6">
    <div class="col-6 d-flex flex-column align-items-center text-center">
      <p class="font-weight-bold mb-4">
        ...e um dos hábitos mais simples é um dos mais negligenciados:
      </p>
      <h4 class="font-weight-bold large pt-0 mb-0">
        Tomar água!
      </h4>
    </div>  
  </div>
</section>