<!-- seventh (projeto cuide-se) -->
<section class="seventh py-4 px-4">
  <div class="section-wrapper">
    <div>
      <h1 class="font-title pb-2">
        Projeto cuide-se:
      </h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
    </div>
    <h2 class="font-more">
      + Saiba Mais
    </h2>
    <h3>
      Conheça nossas outras ferramentas:
    </h3>
    <div>
      <ul class="list">
        <li>
          <a href="#" class="font-links">/horadoremedio.org</a>
        </li>
        <li>
          <a href="#" class="font-links">/tomeagua.org</a>
        </li>
        <li>
          <a href="#" class="font-links">/bocalimpa.org</a>
        </li>
        <li>
          <a href="#" class="font-links">/comafrutas.org</a>
        </li>
        <li>
          <a href="#" class="font-links">/horadecomer.org</a>
        </li>
        <li>
          <a href="#" class="font-links">/mexase.org</a>
        </li>
      </ul>
    </div>
  </div>
</section>