<section data-aos="fade-up" class="sixth py-4 px-4">
  <div class="section-wrapper">
    <div>
      <h1 class="font-title pb-2">
        Projeto Coma Bem:
      </h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
    </div>
    <a href="{{ # | relative_url }}" class="flip-animate-sixth">
      <span data-hover="+ Saiba Mais" class="font-more">
        + Saiba Mais
      </span>
    </a>
    <h3>
      Conheça nossas outras ferramentas:
    </h3>
    <div>
      <ul class="list">
        <li>
          <a href="{{ # | relative_url }}" class="font-links">/horadoremedio.org</a>
        </li>
        <li>
          <a href="{{ # | relative_url }}" class="font-links">/tomeagua.org</a>
        </li>
        <li>
          <a href="{{ # | relative_url }}" class="font-links">/bocalimpa.org</a>
        </li>
        <li>
          <a href="{{ # | relative_url }}" class="font-links">/comafrutas.org</a>
        </li>
        <li>
          <a href="{{ # | relative_url }}" class="font-links">/horadecomer.org</a>
        </li>
        <li>
          <a href="{{ # | relative_url }}" class="font-links">/mexase.org</a>
        </li>
      </ul>
    </div>
  </div>
</section>