<section data-aos="fade-up" class="third h-100">
  <div class="d-flex">
    <div class="w-100 h-100 text-wrapper">
      <div class="css-typing-third">
        <p class="mb-0">
          É só entrar nos
        </p>
        <p class="mb-0">
          nossos grupos de 
        </p>
        <p class="mb-0">
          loucos por receitas 
        </p>
        <p class="mb-0">
          usando:
        </p>
      </div>
      <div class="d-flex justify-content-end">
        <a class="whatsapp-icon">
          <img src="{{ 'assets/images/whats.png'  | relative_url }}" class="icon-index whats-icon hover-icon mr-3">
        </a>  
        <a class="telegram-icon">
          <img src="{{ 'assets/images/telegram.png'  | relative_url }}" class="icon-index hover-icon ml-2">
        </a>
      </div>
      <div class="css-typing-third-2">
        <p class="mt-1 mb-0">
          Ou se preferir
        </p>
        <p class="mb-0">
          receba por:
        </p>
      </div>
      <div class="d-flex justify-content-end">
        <a class="email-icon">
          <img src="{{ 'assets/images/mail.png'  | relative_url }}" class="icon-index hover-icon mr-3 mt-1">
        </a>
        <a class="notification-icon">
          <img src="{{ 'assets/images/notification.png'  | relative_url }}" class="hover-icon icon-index ml-2 mt-1">
        </a>
      </div>
    </div>
    <div>
      <a class="phone-icon">
        <img src="{{ 'assets/images/phone.png'  | relative_url }}" class="hover-icon-phone h-100">
      </a>
    </div>
  </div>
</section>