<section class="third h-100">
  <div class="d-flex">
    <div class="w-100 h-100 text-wrapper">
      <p class="pt-2">
        É só entrar nos nossos grupos de loucos por receitas usando:
      </p>
      <div class="d-flex justify-content-end">
        <img src="{{ 'assets/images/whats.png'  | relative_url }}" class="mr-3 icon-index">
        <img src="{{ 'assets/images/telegram.png'  | relative_url }}" class="ml-2 icon-index">
      </div>
      <p class="mt-1">
        Ou se preferir receba por:
      </p>
      <div class="d-flex justify-content-end">
        <img src="{{ 'assets/images/mail.png'  | relative_url }}" class="mr-3 icon-index mt-1">
        <img src="{{ 'assets/images/notification.png'  | relative_url }}" class="ml-2 mt-1 icon-index">
      </div>
    </div>
    <div class="phone-icon">
      <img src="{{ 'assets/images/phone.png'  | relative_url }}" class="h-100">
    </div>
  </div>
</section>