<section class="third h-100">
  <div class="d-flex">
    <div class="w-100 h-100 text-wrapper">
      <p>
        É só entrar nos
        <br>
        nossos grupos de 
        <br>
        loucos por receitas 
        <br>
        usando:
      </p>
      <div class="d-flex justify-content-end">
        <a href="{{ '/whatsapp.html' | relative_url }}">
          <img src="{{ 'assets/images/whats.png'  | relative_url }}" class="mr-3 icon-index">
        </a>
        <a href="{{ '/telegram.html' | relative_url }}">
          <img src="{{ 'assets/images/telegram.png'  | relative_url }}" class="ml-2 icon-index">
        </a>
      </div>
      <p class="mt-1">
        Ou se preferir receba por:
      </p>
      <div class="d-flex justify-content-end">
        <a href="{{ '/e-mail.html' | relative_url }}">
          <img src="{{ 'assets/images/mail.png'  | relative_url }}" class="mr-3 icon-index mt-1">
        </a>
        <a href="{{ '/notification.html' | relative_url }}">
          <img src="{{ 'assets/images/notification.png'  | relative_url }}" class="ml-2 mt-1 icon-index">
        </a>
      </div>
    </div>
    <div class="phone-icon">
      <img src="{{ 'assets/images/phone.png'  | relative_url }}" class="h-100">
    </div>
  </div>
</section>