// blog scss
.blog {
  h3 {
    color: #EB9500;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    margin: 0;

    &::after {
      content: '';
      width: 60px;
      height: 2px;
      background: #EB9500;
      display: block;
      margin: 7px 0;
    }
  }

  h4 {
    color: #2F2E2A;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0;

    @media (min-width: 579px) {
      font-size: 14px;
    }

    @media (min-width: 1079px) {
      font-size: 15px;
    }
  }

  p {
    color: #555;
    font-size: .85rem;
    margin-bottom: 0;
  }

  a {
    text-decoration: none;

    &:hover {
      background-color: #EB9500;
    }
  }

  span {
    color: gray;
    font-size: 15px;
  }

  .input-group input.form-control.btn {
    height: 36px;

    @media (min-width: 959px) {
      height: 50px;
    }
  }

  img {
    width: 320px;
    height: auto;

    @media (min-width: 959px) {
      width: auto;
      height: auto;
    }
  }

  .btn-more {
    width: 50%;

    @media (min-width: 959px) {
      width: 25%;
    }
  }
}

@media (min-width: 959px) {
  .line-blog {
    &::after {
      display: none;
    }
  }
}