// cancelar cadastro scss
.cancel {
  background-color: #51BFFE;

  h1 {
    font-size: 16px;
    color: white;
    font-weight: bold;
  }

  img {
    width: 104px;
    transform: translate(5%);
  }

  a {
    font-size: 14px;
  }
}
