// header scss
.header {
  padding: 0;
  background-color: #2F2E2A;
  border-bottom: 4px solid #EB9500;

  label {
    color: #f7f7f7;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
  }

  .navbar {
    -webkit-box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.2); 
    box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.2);

    @media (min-width: 576px){
      box-shadow: none;
      -webkit-box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.2); 
      box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.2);
    }
  }

  .header-line {
    @media (min-width: 576px) {
      padding-bottom: 16px;
      display: flex;
      flex-grow: 1;
      justify-content: center;
    }
  }

  .icons {
    background-color: gray;
    border-radius: 6px;
    left: 900px;
    top: 11px;
    height: 24px;
  }

  .icons-position {
    margin-top: -7px;
  }

  .header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 576px) {
      max-width: 960px;
      flex-direction: row-reverse;
    }
  }

  .size-logo {
    width: 90%;
  }

  .header-margin {
    margin-bottom: -26px;
  }
}
