// header scss
.blue-header {
  ins {
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }

  padding: 0;
  background: rgb(100,216,243);
  background: linear-gradient(rgba(100,216,243,1), rgba(178,233,248,0.9));
}

.navbar {
  -webkit-box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.2); 
  box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.2);

  @media (min-width: 576px){
    box-shadow: none;
    -webkit-box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.2); 
    box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.2);
  }
}

.header-line {
  @media (min-width: 576px) {
    padding: 1rem .5rem;
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 576px) {
    max-width: 960px;
    flex-direction: row-reverse;
  }
}

.header-form {
  padding: 0 1rem;

  @media (min-width: 576px) {
    padding: 0;
    margin-left: 2rem;
  }
}

.header-margin {
  margin-bottom: -26px;

  @media (min-width: 576px) {
    margin-bottom: 0;
    padding: 0;
  }
}
