// header scss
.header {
  padding: 0;
  background-color: #2F2E2A;
  border-bottom: 4px solid #EB9500;

  label {
    color: #f7f7f7;
    font-size: 14px;
    margin-bottom: 3px;
  }

  .hover-icon {
    &:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    } 
  }

  .header-line {
    min-height: 96px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @media (min-width: 576px) {
      flex-grow: 1;
      min-height: 48px;
      align-items: center;
    }
  }

  .icons {
    display: flex;
    background-color: gray;
    border-radius: 6px;
    height: 24px;
    margin-top: 16px;
    z-index: 1;

    @media (min-width: 576px) {
      margin-top: 0;
    }
  }

  .icons-position {
    margin-top: -7px;

    img:hover {
      cursor: pointer;
    }
  }

  .header-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 576px) {
      max-width: 960px;
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  .size-logo {
    margin-top: 128px;

    img {
      width: 100%;
    }

    @media (min-width: 576px) {
      margin-top: 0;
      width: 400px;
    }
  }

  .header-margin {
    width: 100%;
    padding: 20px;
    left: 50%;
    transform: translate(-50%, 0);

    @media (min-width: 576px) {
      margin-bottom: -26px;  
    }
  }
}

.navbar {
  -webkit-box-shadow: 0px -5px 25px 16px #000000; 
  box-shadow: 0px -2px 25px 16px #000000;
}
