// modal
section.myModal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #00000099;

  .close {
    border-radius: 100%;
    width: 34px;
    height: 34px;
    font-weight: normal;
    opacity: 1;
    position: absolute;
    right: 2px;
    top: 84px;

    @media (min-width: 576px) {
      margin-top: 36px;
      position: relative;
      transform: translate(-50%, -50%);
    }

    button {
      width: 100%;
      height: 100%;
      padding: 0;
      border: none;
      background-color: #FFF;
      color: #000;
      font-size: 2rem;
      border-radius: 100%;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .myModal {
    min-height: 300px;
    max-width: 562px;
    width: 95%;
    margin-top: 96px;
    overflow: auto;
    background-image: url("images/bgmodal.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-color: #E3E3E2;
    border-radius: 20px;
    box-shadow: 1px 2px 1px #AAA;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 16px 24px;

    @media (min-width: 576px) {
      height: 45vh;
      border-radius: 18px;
      margin-top: 115px;
      height: auto;
      max-height: calc(100vh - 162px);
      justify-content: center;
    }

    img.header-image {
      transform: translate(-10%);

      &.small {
        width: 20%;
      }
    }

    h1.header-title {
      margin-top: 8px;
      color: #EB9500;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
    }

    h3.header-title {
      margin-top: 8px;
      color: #EB9500;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
    }

    p.text {
      color: #646464;
      font-size: 13px;
      text-align: center;
    }

    .input-group {
      input.form-control:not([type="submit"]),
      textarea.form-control {
        box-shadow: inset 2px 4px 0px #00000030;
        height: 30px;
        font-size: 16px;
        color: #646464;
        border-radius: 30px;

        &::placeholder {
          font-size: 16px;
          text-align: start;
          opacity: .5;
          color: #000;
        }
      }

      .btn:not([type="submit"]) {
        width: 100%;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background-color: #6AD1F9;
        box-shadow: 0.38px 5px 0px #E5E5E5;
        color: #FFFFFF;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    .btn  {
      width: 100%;
      height: 30px;
      font-size: 14px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      background-color: #EB9500;
      box-shadow: 0.38px 5px 0px #E5E5E5;
      color: #FFFFFF;
      font-weight: bold;
      text-transform: uppercase;
    }

    input.form-check-input {
      position: relative;
      margin: 4px 8px 4px 0;
    }

    label.form-check-label {
      color: #BFBFBF;

      a {
        text-decoration: none;
        color: #B5E3F4;
        padding: 2px;
      }
    }

    a {
      color: #EB9500;
      background-color: #E5E5E540;
      padding: 4px;

      &.dark {
        font-size: 12px;
        background-color: transparent;
        color: #6C6C6C;
      }
    }
  }

  .title-modal {
    text-align: center;
  }

  .btn-text {
    text-decoration: none;
  }

  .load-text {
    color: #5DC7FC;
    font-size: 18px;
    font-weight: bold;
  }

  .checkbox-position {
    height: 16px;
    width: 16px;
    margin-top: 5px;
    margin-right: 6px;
  }
  .email-modal {
    .checkbox-position {
      margin-top: 20px;
      margin-right: 8px;
    }
  }

  .modal-icon-whats {
    z-index: -1; 
    background-color: #40C351;
    margin-left: -14px;
    border-radius: 10px;
  }

  .modal-icon-telegram {
    z-index: -1; 
    background-color: #1E94D3;
    margin-left: -14px;
    border-radius: 10px;
  }

  .modal-icon-email {
    z-index: -1; 
    background-color: #D50808;
    margin-left: -18px;
    border-radius: 10px;
  }

  .modal-icon-notification {
    z-index: -1; 
    background-color: #D07906;
    margin-left: -14px;
    border-radius: 10px;
    width: 10%;
  }

  .modal-img {
    position: relative;
    z-index: 2;
    width: 25%;
  }

  .modal-img-notification {
    position: relative;
    z-index: 2;
    width: 23%;
  }

  .modal-notification-text {
    padding: 0 16px;

    @media (min-width: 959px) {
      padding: 0 28px;
    }
  }

  .modal-indicate-text {
    padding: 0;

    @media (min-width: 959px) {
      padding: 0 40px;
    }
  }

  .modal-indicate-btn {
    width: 40% !important;
    
    @media (min-width: 959px) {
      width: 25% !important;
    }
  }
}

.modal-icon-social {
  height: 52px;

  @media (min-width: 959px) {
    height: 44px;
  }
}

.text-modal-phone {
  font-weight: bold;
  text-align: center;

  @media (min-width: 768px) {
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    padding-right: 52px;
  }
}

.inner-text {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}