.blog-layout {
  article {
    @media (min-width: 576px) {
      width: 75%;
    }
  }

  h1 {
    text-transform: uppercase;
    color: #EB9500;
  }

  .bg-black {
    background-color: #FFF;
  }

  .bg-banner {
    background-image: url("images/banner-index.jpg");
    background-color: #F7F7F7;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .container-blog {
    max-width: 1280px;
  }
}