// animação tomando água scss
section.second {
  background-image: url('images/banner-index2.jpg');
  background-size: contain;
  background-repeat: no-repeat;

  p {
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding-left: 102px;
    padding-bottom: 67px;
    padding-top: 52px;
    padding-right: 24px;
    margin-bottom: 0;
    text-align: right;
  }
}

