section.sixth {
  background-color: #2F2E2A;
  border-bottom: 4px solid #EB9500;
  border-top: 4px solid #EB9500;

  p {
    color: #F7F7F7;
  }

  h1 {
    &::after {
      content: '';
      width: 100px;
      height: 2px;
      background: #EB9500;
      display: block;
      margin: 7px 0;
    }
  }

  h2 {
    &::after {
      content: '';
      height: 2px;
      background: #EB9500;
      display: block;
      margin: 7px 0;
      width: 35%;
      margin-top: 24px;
    }
  }

  h3 {
    font-size: 15px;
    color: #EB9500;
    font-weight: bold;
    margin-bottom: 28px;
    margin-top: 32px;
  }

  .font-links {
    color: white;
    text-decoration: none;
  }

  .font-title {
    font-size: 22px;
    color: #EB9500;
    font-weight: bold;
  }

  .font-more {
    font-size: 16px;
    color: #EB9500;
    font-weight: bold;
  }

  ul.list {
    padding: 0;
    column-count: 2;
    column-gap: 20px;
    list-style: none;
    font-size: 14px;

    @media (min-width: 576px) {
      column-count: 6;
    }

    li {
      padding: 8px 0;
      background: transparent;
      border: none;
      border-bottom: 3px solid;
      font-weight: 700;

      @media (min-width: 576px) {
        border-color: #989898;
      }
    }
  }
}

a {
  color: #333;
  text-decoration: none;
  transition: color 0.1s;
  outline: none;
}

a:hover,
a:focus {
  color: #222;
}

a.flip-animate-sixth {
  perspective: 1000px;
  
  span {
    position: relative;
    display: inline-block;
    padding: 0;    
    transition: transform 0.1s;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
  }
  
  span:before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    content: attr(data-hover);
    transition: color 0.1s;
    transform: rotateX(-90deg);
    transform-origin: 50% 0;
    text-align: center;
  }

  &:hover {
    cursor: pointer;
  }
  
  &:hover span,
  &:focus span {
    transform: rotateX(90deg) translateY(-22px);
  }
  
  &:hover span:before,
  &:focus span:before {
    color: rgb(247, 247, 247);
  }
}
