.success {
  background-color: #51BFFE;

  h1 {
    font-size: 16px; 
    color: white;
    font-weight: bold;
  }

  a {
    font-size: 14px;
  }

  img {

  }

  .whats-sucsess {
    width: 40px !important;
  }
}
